<div class="background">
  <div class="login" id="reset_password">
    <div class="logo">
      <h1>Quera</h1>
      <h2>A place to share knowledge and better understand the world</h2>
    </div>
    <div class="one-form">
      <h2>Change password</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        </div>

        <div class="form_bottom">
          <%= link_to "Login", new_session_path(resource_name) %>
          <div class="actions">
            <%= f.submit "Send a link to set password" %>
          </div>

        </div>

        <% end %>



    </div>

  </div>
</div>
